on:
  workflow_dispatch:
    inputs:
      ref:
        default: update-deps
        description: ref of elokey repo
        type: string
jobs:
  deploy:
    strategy:
      matrix:
        platform:
          - ios
    runs-on: ${{ matrix.platform == 'ios' && 'macos-latest' || 'ubuntu-latest'}}
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.22"
      - uses: actions/checkout@v5
        with:
          repository: qwezey/elokey
          ref: ${{ inputs.ref }}
          token: ${{ secrets.QWEZEY_BOT_TOKEN }}
      - run: brew install bitrise
      - run: bitrise run deploy
        env:
          BITRISE_BUILD_API_TOKEN: ${{ secrets.BITRISE_PAT }}
          BITRISE_BUILD_URL: https://app.bitrise.io/app/27972117-b61e-4c86-9fb1-41f62800f72b
