on:
  workflow_dispatch:
    inputs:
      ref:
        default: update-deps
        description: ref of elokey repo
        type: string
      env:
        description: elokey environment
        default: test
        type: choice
        options:
          - test

jobs:
  deploy:
    strategy:
      matrix:
        platform:
          - ios
          # - android
          # - web-admin
    runs-on: ${{matrix.platform == 'ios' && 'macos-latest' || 'ubuntu-latest'}}
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        if: ${{ matrix.platform == 'ios' }}
        with:
          xcode-version: latest-stable
      - run: xcodebuild -downloadPlatform iOS
        if: ${{ matrix.platform == 'ios' }}
      - uses: actions/checkout@v5
        with:
          repository: qwezey/elokey
          token: ${{secrets.QWEZEY_BOT_TOKEN}}
          ref: ${{inputs.ref}}
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/setup-fastlane
      - uses: ./.github/actions/setup-flutter
      - run: npx -y tsx@latest scripts/deploy.ts
        env:
          environment: ${{inputs.env}}
          platform: ${{matrix.platform}}
          firebaseToken: ${{secrets.FIREBASE_TOKEN}}
          qwezeyBotToken: ${{secrets.QWEZEY_BOT_TOKEN}}
          appStoreConnectApiKeyJson: ${{secrets.APP_STORE_CONNECT_API_KEY_JSON}}
          appStoreConnectAzizApiKeyJson: ${{secrets.APP_STORE_CONNECT_AZIZ_API_KEY_JSON}}
          matchPasswordElokey: ${{secrets.MATCH_PASSWORD_ELOKEY}}
