on:
  workflow_dispatch:
    inputs:
      ref:
        default: update-deps
        description: ref of elokey repo
        type: string

jobs:
  deploy:
    strategy:
      matrix:
        platform:
          - ios
          # - android
          # - web-admin
    runs-on: ${{matrix.platform == 'ios' && 'macos-latest' || 'ubuntu-latest'}}
    steps:
      - uses: actions/checkout@v5
        with:
          repository: qwezey/elokey
          token: ${{secrets.QWEZEY_BOT_TOKEN}}
          ref: ${{inputs.ref}}
      # - uses: actions/setup-java@v5
      #   if: ${{matrix.platform == 'android'}}
      #   with:
      #     distribution: oracle
      # - uses: subosito/flutter-action@v2
      #   with:
      #     channel: stable
      - uses: Homebrew/actions/setup-homebrew@main
      - run: brew install fastlane
        if: ${{matrix.platform != 'web-admin'}}
      # - run: flutter build ios --no-codesign
      - run: echo ${{secrets.APP_STORE_CONNECT_AZIZ_API_KEY_JSON}} > apple-api-key.json
      - run: |
          echo "::add-mask::$(echo -n qwezey-bot:${{secrets.QWEZEY_BOT_TOKEN}} | base64)" &&
          fastlane run match \
            api_key_path:../apple-api-key.json \
            git_basic_authorization:$(echo -n qwezey-bot:${{secrets.QWEZEY_BOT_TOKEN}} | base64) \
            app_identifier:com.qwezey.elokey.test \
            git_url:https://github.com/qwezey/elokey-ios-certificates.git \
            type:appstore
        env:
          MATCH_PASSWORD: ${{secrets.MATCH_PASSWORD_ELOKEY}}
        working-directory: ios

      # - run: ./scripts/deploy.ts
      #   env:
      #     PLATFORM: ${{matrix.platform}}
      #     FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}

      #     QWEZEY_BOT_TOKEN: ${{matrix.platform == 'ios' && secrets.QWEZEY_BOT_TOKEN}}

      #     APP_STORE_CONNECT_API_KEY_JSON: ${{matrix.platform == 'ios' && env.ELOKEY_ENV != 'prod' && secrets.APP_STORE_CONNECT_API_KEY_JSON}}
      #     MATCH_PASSWORD: ${{matrix.platform == 'ios' && env.ELOKEY_ENV != 'prod' && secrets.MATCH_PASSWORD}}

      #     APP_STORE_CONNECT_AZIZ_API_KEY_JSON: ${{matrix.platform == 'ios' && env.ELOKEY_ENV == 'prod' && secrets.APP_STORE_CONNECT_AZIZ_API_KEY_JSON}}
      #     MATCH_PASSWORD_ELOKEY: ${{matrix.platform == 'ios' && env.ELOKEY_ENV == 'prod' && secrets.MATCH_PASSWORD_ELOKEY}}

      #     GOOGLE_PLAY_CONSOLE_SERVICE_ACCOUNT: ${{matrix.platform == 'android' && env.ELOKEY_ENV == 'prod' && secrets.GOOGLE_PLAY_CONSOLE_SERVICE_ACCOUNT}}
      #     GOOGLE_PLAY_UPLOAD_KEYSTORE_BASE64: ${{matrix.platform == 'android' && env.ELOKEY_ENV == 'prod' && secrets.GOOGLE_PLAY_UPLOAD_KEYSTORE_BASE64}}
      #     GOOGLE_PLAY_UPLOAD_KEYSTORE_PROPERTIES: ${{matrix.platform == 'android' && env.ELOKEY_ENV == 'prod' && secrets.GOOGLE_PLAY_UPLOAD_KEYSTORE_PROPERTIES}}
