on:
  workflow_dispatch:
    inputs:
      ref:
        default: update-deps
        description: ref of elokey repo
        type: string

jobs:
  deploy:
    strategy:
      matrix:
        platform:
          - ios
          - android
          # - web-admin
    runs-on: ${{matrix.platform == 'ios' && 'macos-latest' || 'ubuntu-latest'}}
    steps:
      - run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew --version
      # - run: brew --version
      # - uses: actions/checkout@v5
      #   with:
      #     repository: qwezey/elokey
      #     token: ${{secrets.QWEZEY_BOT_TOKEN}}
      #     ref: ${{inputs.ref}}
      # - uses: actions/setup-java@v5
      #   if: ${{matrix.platform == 'android'}}
      #   with:
      #     distribution: oracle
      # - uses: subosito/flutter-action@v2
      #   with:
      #     channel: stable
      # - run: brew install fastlane
      #   if: ${{matrix.platform != 'web-admin'}}
      # - run: ./scripts/deploy.ts
      #   env:
      #     PLATFORM: ${{matrix.platform}}
      #     FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}

      #     QWEZEY_BOT_TOKEN: ${{matrix.platform == 'ios' && secrets.QWEZEY_BOT_TOKEN}}

      #     APP_STORE_CONNECT_API_KEY_JSON: ${{matrix.platform == 'ios' && env.ELOKEY_ENV != 'prod' && secrets.APP_STORE_CONNECT_API_KEY_JSON}}
      #     MATCH_PASSWORD: ${{matrix.platform == 'ios' && env.ELOKEY_ENV != 'prod' && secrets.MATCH_PASSWORD}}

      #     APP_STORE_CONNECT_AZIZ_API_KEY_JSON: ${{matrix.platform == 'ios' && env.ELOKEY_ENV == 'prod' && secrets.APP_STORE_CONNECT_AZIZ_API_KEY_JSON}}
      #     MATCH_PASSWORD_ELOKEY: ${{matrix.platform == 'ios' && env.ELOKEY_ENV == 'prod' && secrets.MATCH_PASSWORD_ELOKEY}}

      #     GOOGLE_PLAY_CONSOLE_SERVICE_ACCOUNT: ${{matrix.platform == 'android' && env.ELOKEY_ENV == 'prod' && secrets.GOOGLE_PLAY_CONSOLE_SERVICE_ACCOUNT}}
      #     GOOGLE_PLAY_UPLOAD_KEYSTORE_BASE64: ${{matrix.platform == 'android' && env.ELOKEY_ENV == 'prod' && secrets.GOOGLE_PLAY_UPLOAD_KEYSTORE_BASE64}}
      #     GOOGLE_PLAY_UPLOAD_KEYSTORE_PROPERTIES: ${{matrix.platform == 'android' && env.ELOKEY_ENV == 'prod' && secrets.GOOGLE_PLAY_UPLOAD_KEYSTORE_PROPERTIES}}
