on:
  workflow_dispatch:
    inputs:
      ref:
        default: update-deps
        description: ref of elokey repo
        type: string
jobs:
  deploy:
    strategy:
      matrix:
        platform:
          - ios
    runs-on: ${{ matrix.platform == 'ios' && 'macos-latest' || 'ubuntu-latest'}}
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.22"
      - uses: actions/checkout@v5
        with:
          repository: qwezey/elokey
          ref: ${{ inputs.ref }}
          token: ${{ secrets.QWEZEY_BOT_TOKEN }}
      - run: brew install bitrise
      - run: echo ${{ secrets.APP_STORE_CONNECT_AZIZ_API_KEY_P8 }} > apple-api-key.p8
      - run: bitrise run deploy
